@use '../variables' as *;

.orders_list {
    margin: 30px 0;
    font-size: 16px;
    color: $text-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.orders_list__item {
    border: 2px solid $accent-color;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 1px rgba(0,0,0,0.14), 0px 2px 1px rgba(0,0,0,0.2);
    padding: 20px;
}
.orders_list__item_title {
    display: flex;
    justify-content: space-between;
}
.orders_number {
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    color: $text-color;
    font-weight: 600;
}
.orders_list__item_userList {
    margin: 10px 0;
    & li {
        margin-top: 5px;
    }
  & span {
    font-weight: 600;
    font-size: 16px;
    display: block;
    text-align: center;
  }
}
.orders_list__item_userList_composition {
    & span {
        font-weight: 600;
        font-size: 16px;
        display: block;
        text-align: center;
      }
& li {
    display: none;
}
&:hover, &:focus {
   & li {
        display: block;
    }
}

}
.basket_list__item {
    margin-top: 15px;
    & p {
        margin-top: 10px;
    }
}
.orders_list_amount {
    margin: 15px 0;
}
.text {
    font-weight: 500;
    font-size: 16px;
    color: $text-color;
}
.ordersList_change_status {
    font-weight: 600;
    font-size: 16px;
    color: $text-color;
}
.changestatus {
    margin: 20px 0;
}
.deleteButton {
    font-weight: 500;
    font-size: 16px;
    color: $text-color;
    margin-top: 15px;
    border-bottom: 1px solid $text-color;
}