@use '../variables' as *;

.cardDescription_photo_container {
    width: 300px;
    height: auto;
    & img {
        width: 100%;
        height: auto;
    }
}
.cardDescription_button__icon {
    width: 20px;
    height: 20px;
    fill: $main-color;
}
.cardDescription_title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}
.cardDescription_article {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.02;
}
.cardDescription_descriptionComposition {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
.cardDescription_price_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
.cardDescription_price {
    font-weight: 600;
}
.cardDescription_inform {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.02;
}
.cardDescription_button__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 100px;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.02;
    border-radius: 20px;
    box-shadow: 0px 1px 3px $accent-color, 0px 1px 1px $accent-color, 0px 2px 1px $accent-color;
    padding: 6px;

    & svg {
        margin-left: 5px;
    }

    &:hover,
    &:focus {
        background-color: $accent-color;

        & svg {
            fill: $main-color;
        }
    }
}
    .cardDescription_container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        margin-bottom: 20px;
        box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
        padding: 20px;
        border-radius: 30px;
        color: $text-color;
    }
   
    .cardDescription_inform {
        margin-top: 30px;
    }
    .cardDescription_button__basket {
        width: 120px;
        padding: 10px;
        font-size: 16px;
    }
    .change_composition {
        margin-top: 40px;
        color: $accent-color;
    }