@use '/src/components/variables' as *;

.homePage_title {
color: $main-color;
text-align: center;
margin: 100px 0;
font-size: 30px;
font-weight: 600;
line-height: 1.33;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    & .login_form__input {
        margin-bottom: 20px;
        width: 350px;
    }
}
.login_form__button {
    width: 100px;
    color: #fff;
    margin: 0 auto;
}

