@use '../variables' as *;

.header {
    display: flex;
    padding: 70px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: $text-color;
}
.header_list {
    display: flex;

    & li {
        margin-right: 40px;
    }
    & li:last-child {
        margin-right: 0;
    }
    
}

.header_log {
    margin-left: auto;
    display: flex;
    & svg {
        margin-right: 5px;
        margin-top: 7px;
    }
}
.header_log__out {
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: $text-color;
}
.header_logo {
    margin-left: 550px;
}
