@use '../variables' as *;

.navigation_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    & button {
        font-size: 18px;
        color: $text-color;

        &:focus, &:hover {
            color: $accent-color;
        }
    }
}
.searchForm_input {
    display: block;
    width: 470px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $main-color;
    border: 1px solid $accent-color;
  }