body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: #696969;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  text-decoration: none;
  border: none;
  padding: 0;
  background-color: #fff;
}
input {
  outline: none;
  border: none;
}

a.inactive {
  font-family: 'Inter', sans-serif;
  line-height: 1.33;
  letter-spacing: 2px;

}
a.active {
  color: #FFA500;
  font-family: 'Inter', sans-serif;
  line-height: 1.33;
  letter-spacing: 2px;
}